/*
 <head>
 <link rel="stylesheet" href="app.css">
 </head>
 
 <br/>
 <button class="button" >Click Me</button>
 */

.button {
    display: inline-block;
    padding: 10px 12px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    position: relative;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    overflow: hidden;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(5px);
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.lobsterfont {
    font-family: Lobster;
}