/*
 <head>
 <link rel="stylesheet" href="app.css">
 </head>
 
 <br/>
 <button class="button" >Click Me</button>
 */


* {
/*overwrite this font in later id's */
  font-family: arial;
  margin-left:auto; 
  margin-right:auto;
  font-size: 105%;
}

p:not(#fillertext):not(#bottom-link) {
  color: whitesmoke;
}

#fillertext {
  font-size:xx-large;
  text-align:center;
  color: goldenrod;
}

td {
    text-align: center;
    border-radius: 10px;
}

.specialtable {
    background-color: #4CAF50;
    border-spacing: 10px 0px;
    border-radius: 10px;
}

.lobsterfont {
    font-family: Lobster;
}

/* reference for button CSS styles:  http://www.w3schools.com/css/css3_buttons.asp */

.button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    position: relative;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s; /* for Safari */
    overflow: hidden; /* to keep the "flash" within the button */
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(5px);
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#main-content {
  background-color: grey;/*whitesmoke;*/
/*   padding: 20px 20px 20px 30%; */
  display: grid;
  grid-template: 1fr / 1fr;
  padding: 20px;
}

#bottom-link {
  padding: 0px 10px 50px 10px;
  text-align: center;
  color: goldenrod;
}

.calculate {
  background-color: blue;
}

#display {
  color: goldenrod;
}
