body {
    font-family: sans-serif;
    text-shadow: 3px 3px 3px lightgrey;
    box-shadow: 5px 5px black;
    background-color: grey;
    border-radius: 10px;
    
    /*shorthand based on instructor recommendation, and from https://developer.mozilla.org/en-US/docs/Web/CSS/border*/
    border: 10px solid lightblue;
}

h1 {
    text-align: center;
    color: white;
}

h1:hover, h2:hover, p:hover, figure:hover {
  background: orange;
  color: blue;
  font-style: bold;
  text-shadow: none;
}